@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* height: 100%; */
  color: #fff;
  background: #1f1934;
}

main {
  background: #393a47;
  height: 100vh;
  height: 100dvh;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #F35588;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(83 139 223 / 30%);
}


